:root {
    --black: #0A0A0A;
    --white: #fff;
    --blue: #0E7D84;
    --grey: #717171;
    --grey-light: #F5F5F7;
    --deep-blue: #2B5C60;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header start */

.header {
    background: var(--grey-light);
}

.header__nav-block,
.header__nav-block-tel {
    width: 40%;
}

.header__nav-block-tel.tel {
    display: flex;
    justify-content: flex-end;
}

.header__nav {
    background: var(--blue);
} 

.header__nav-box {
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    gap: 30px;
}

.header__nav-link {
    color: #FFF;
    font-family: 'RR';
    font-size: 24px;
    transition: all 300ms;
}

.header__nav-link:hover,
.header__nav-link:focus {
    text-shadow: 0px 0px 5px var(--grey-light);
    margin-left: 0.5em;
    outline: none;
    position: relative;
}

.header__nav-link::before {
    position: absolute;
    left: -1em;
    content: '>';
    color: transparent;
}

.header__nav-tel {
    color: #FFF;
    font-family: 'RR';
    font-size: 24px;
    transition: all 350ms;
}

.header__nav-tel:hover {
    text-shadow: 0px 0px 5px var(--grey-light);
}

.header__contant-title {
    font-family: 'RM';
    font-size: 64px;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 45px;
}

.header__contant-a {
    font-family: 'RM';
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--blue);
    border-radius: 30px;
    padding: 15px 100px;
    margin-top: 40px;
    transition: all 300ms;
}

.header__contant-a:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px var(--deep-blue);
}



.header__contant-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0px 70px 0px;
}

/* Header end */


/* Main start, section__update */

.main {
    background: var(--white);
}

.update__title,
.model__title {
    color: var(--blue);
    font-family: 'RM';;
    font-size: 32px;
    padding-top: 75px;
    margin-bottom: 45px;
    text-transform: uppercase;
    text-align: center;
}

.update__text {
    color: var(--grey);
    font-family: 'RR';
    font-size: 20px;
    max-width: 650px;
    width: 100%;
    text-align: justify;
}

.section__update {
    text-align: center;
}

.update__box-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.update__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main end, section__update */


/* Main start, section__modal */

.model__item-block-text-title {
    font-family: 'RM';
    font-size: 24px;
    text-transform: uppercase;
}

.model__item-block-text-p {
    font-family: 'RL';
    font-size: 20px;
    line-height: normal;
}

.model__item-block-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 25px;
}

.model__box {
    display: flex;
    justify-content: space-between;
}

.model__item {
    transition: all 300ms;
}

.model__item:hover {
    box-shadow: 0px 0px 5px var(--blue);
    transform: scale(1.03);
    margin-left: 1em;
    outline: none;
}

.section__model {
    padding-bottom: 75px;
}

/* Main end, section__modal */


/* Main start, section__connection */

.connection__wrapper {
    display: flex;
    justify-content: space-between;
    background: var(--deep-blue);
}

.connection__title {
    font-family: 'RM';
    font-size: 32px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 100px;
}

.connection__btn {
    font-family: 'RM';
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black);
    background: var(--white);
    border-radius: 30px;
    padding: 15px 100px;
    margin-top: 40px;
    transition: all 300ms;
    border: none;
    margin-top: 100px;
    cursor: pointer;
}

.connection__btn:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px var(--grey);
}

.connection__input {
    display: block;
    width: 100%;
    background: initial;
    border: none;
    padding: 5px 20px 5px 0;
    border-bottom: 1px solid var(--white);
}

.connection__input::placeholder {
    color: var(--white);
    font-size: 20px;
    font-family: 'RL';
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.connection__box-form {
    width: 600px;
    height: 600px;
    padding: 75px 40px 80px 70px;
    text-align: center;
}

.connection__box-img {
    width: 600px;
    height: 600px;
}

/* Main end, section__connection */


/* Footer start */

.footer {
    background: var(--black);
}

.footer__nav-title {
    color: var(--white);
    font-family: 'RR';
    font-size: 24px;
    transition: all 350ms;
}

.footer__nav-title:hover {
    text-shadow: 0px 0px 5px var(--grey-light);
}

.footer__text {
    flex-grow: 0.7;
    flex-basis: 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    padding: 25px 0;
}

/* Footer end */


/* ---------- АДАПТАЦИЯ - Start ---------- */


/* ---------- АДАПТАЦИЯ - Header - Start ---------- */

/* ---------- АДАПТАЦИЯ - Header__nav - Start ---------- */

@media (max-width:1000px) {
    .header__nav-link {
        font-size: 23px;
    }

    .header__nav-list {
        gap: 25px;
    }

    .header__nav-box {
        flex-direction: column;
        gap: 15px;
    }

    .header__nav-block-tel.tel {
        justify-content: center;
    }
}

@media (max-width:930px) {
    .header__nav-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 455px) {
    .header__nav-link {
        font-size: 18px;
    }
}

/* ---------- АДАПТАЦИЯ - Header__nav - End ---------- */


/* ---------- АДАПТАЦИЯ - Header__contant - Start ---------- */

@media (max-width:830px) {
    .header__img {
        width: 100%;
    }
}

@media (max-width:650px) {
    .header__contant-title {
        font-size: 45px;
    }
}

@media (max-width:450px) {
    .header__contant-title {
        font-size: 39px;
    }
}

@media (max-width:400px) {
    .header__contant-title {
        font-size: 35px;
    }
}

@media (max-width:367px) {
    .header__contant-title {
        font-size: 30px;
    }
}

@media (max-width:320px) {
    .header__contant-title {
        font-size: 24px;
    }

    .header__contant-a {
        padding: 15px 60px;
    }
}

/* ---------- АДАПТАЦИЯ - Header__contant - End ---------- */


/* ---------- АДАПТАЦИЯ - Header - End ---------- */



/* ---------- АДАПТАЦИЯ - Main - Start ---------- */


/* ---------- АДАПТАЦИЯ - Section__update - Start ---------- */

@media (max-width:1100px) {
    .update__box {
        flex-direction: column;
    }
}

@media (max-width:320px) {
    .update__box-img {
        display: none;
    }

    .update__box-text {
        gap: 30px;
    }

    .update__text {
        max-width: 240px;
        width: 100%;
    }
}

/* ---------- АДАПТАЦИЯ - Section__update - End ---------- */


/* ---------- АДАПТАЦИЯ - Section__model - Start ---------- */

@media (max-width:1030px) {
    .model__box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width:768px) {
    .model__box {
        gap: 30px;
    }
}

@media (max-width:320px) {
    .model__title {
        font-size: 16px;
    }
}

/* ---------- АДАПТАЦИЯ - Section__model - End ---------- */


/* ---------- АДАПТАЦИЯ - Section__connection - Start ---------- */

@media (max-width:1180px) {
    .connection__box-img {
        display: none;
    }

    .connection__wrapper {
        padding: 50px 39px;
        box-shadow: 0px 0px 5px var(--black);
    }

    .connection__box-form {
        padding: 75px 40px 80px 110px;
    }

    .connection__wrapper {
        justify-content: center;
    }
}

@media (max-width:1024px) {
    .connection__wrapper {
        justify-content: center;
    }
}

@media (max-width:768px) {
    .connection__box-img {
        display: none;
    }

    .connection__wrapper {
        padding: 50px 39px;
    }

    .section__connection {
        background: var(--deep-blue);
    }
}

@media (max-width:546px) {
    .connection__box-form {
        padding: 75px 40px 80px 40px;
    }
}

@media (max-width:470px) {
    .connection__box-form {
        padding: 75px 40px 80px 0px;
    }
}

@media (max-width:420px) {
    .connection__box-form {
        padding: 75px 0px 80px 0px;
    }

    .connection__wrapper {
        padding: 50px 30px;
    }
}

@media (max-width:400px) {
    .connection__wrapper {
        padding: 50px 20px;
    }
}

@media (max-width:380px) {
    .connection__input {
        max-width: 300px;
        width: 100%;
    }

    .connection__btn {
        padding: 15px 85px;
    }

    .connection__box-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:330px) {
    .connection__wrapper {
        padding: 50px 0px;
    }
}

@media (max-width:320px) {
    .connection__btn {
        padding: 15px 60px;
    }
    
    .connection__input {
        max-width: 200px;
        width: 100%;
    }

    .connection__box-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ---------- АДАПТАЦИЯ - Section__connection - End ---------- */


/* ---------- АДАПТАЦИЯ - Main - End ---------- */



/* ---------- АДАПТАЦИЯ - Footer - START ---------- */

@media (max-width:767px) {
    .footer__nav-title,
    .header__nav-tel {
        font-size: 22px;
    }

    .footer__text {
        flex-basis: inherit;
    }
}

@media (max-width:700px) {
    .footer__wrapper {
        flex-direction: column;     
        gap: 15px;
        padding: 15px 0;
    }

    .header__nav-block-tel.tel {
        justify-content: center;
    }
}

@media (max-width:455px) {
    .footer__nav-title,
    .header__nav-tel {
        font-size: 15px;
    }
}

/* ---------- АДАПТАЦИЯ - Footer - END ---------- */

/* ---------- АДАПТАЦИЯ - End ---------- */